header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #b0cfff;
  padding: 10px;
  z-index: 1000;

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;

    .left_header {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;

      font-weight: bold;
      font-size: 25px;
      text-transform: uppercase;
    }

    .rigth_header {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }
    .header_title {
    }
    .header_logo {
      svg {
        width: 65px;
        height: 65px;
      }
    }
  }
}
