@import "../../styles/variables.scss";

header {
  width: 100%;
  padding: 10px;

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;

    .left_header {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;

      font-weight: bold;
      font-size: 25px;
      text-transform: uppercase;
    }

    .rigth_header {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }
    .header_title {
      margin-left: 15px;
      color: $primary-color;
    }
    .header_logo {
      svg {
        width: 65px;
        height: 65px;
      }
    }
  }
}
