@import "~normalize.css";

// FONTS
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");

// STYLES
*,
*:after,
*:before {
  box-sizing: border-box;
}

.App {
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
}

body {
  font-family: "Open Sans", sans-serif;
}

body::-webkit-scrollbar {
  width: 15px; /* ширина scrollbar */
  padding: 5px;
}
body::-webkit-scrollbar-track {
  background: #b0cfff; /* цвет дорожки */
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(71, 147, 255, 1); /* цвет плашки */
  border-radius: 20px; /* закругления плашки */
}
