@import "~normalize.css";

// FONTS
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");

// STYLES

*,
*:after,
*:before {
  box-sizing: border-box;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
  font-family: "Open Sans", sans-serif;
}
