@import "~normalize.css";
@import "./variables.scss";
// FONTS
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");

// STYLES
*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  transition: 0.3s;
  background-color: var(#{--body-background-default});
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

//SCROLLBAR
body::-webkit-scrollbar {
  width: 15px; /* ширина scrollbar */
  padding: 5px;
}
body::-webkit-scrollbar-track {
  background: var(#{--body-scrollbar-track-default}); /* цвет дорожки */
}
body::-webkit-scrollbar-thumb {
  background-color: var(#{--body-scrollbar-thumb-default}); /* цвет плашки */
  border-radius: 20px; /* закругления плашки */
}
