@import "../../styles/variables.scss";
.card {
  display: flex;
  justify-content: center;
  background: $card-light-background;
  border-radius: $card-border-radius;
  box-shadow: $card-box-shadow;
  margin-top: 50px;
}

.custom_tooltip {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: $card-light-background;
  border-radius: $card-border-radius;
  box-shadow: $card-box-shadow;

  .title {
    font-weight: bold;
    font-size: 16px;
  }

  .label {
  }
  .description {
    .value {
      font-size: 14px;
      font-weight: normal;
    }
  }
}
