@import "../../../../styles/variables.scss";

.container {
  margin-top: 50px;
  width: 100%;
}

.tabs {
  // POSITION
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;

  // DESIGN
  background: var(#{--components-title-background-default});
  border-radius: $card-border-radius $card-border-radius 0 0;
  box-shadow: var(#{--card-shadow-default});

  .tabs__wrapper {
    display: flex;
  }

  .reset,
  .tab {
    //
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    padding: 9px 20px;

    //
    color: var(#{--text-color-default});
    font-size: 18px;

    // DESGIN
    cursor: pointer;
    background-color: var(#{--components-background-default});
    box-shadow: 2px 5px 25px -3px var(#{--card-shadow-default});
    border-radius: 5px;
  }

  .reset {
    margin-right: 0;
  }
}
.tab {
  &.active {
    background-color: $primary-color;
  }
}

.week_days {
  //
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;

  //
  background: var(#{--components-background-default});
  border-radius: 0 0 $card-border-radius $card-border-radius;
  box-shadow: var(#{--card-shadow-default});

  .card {
    //
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 150px;

    //
    background: var(#{--card-background-default});
    border-radius: 10px;
    cursor: pointer;

    .card__day {
      margin-bottom: 7px;
      font-size: 18px;
    }

    .card__day_info {
      margin-bottom: 12px;
      font-size: 14px;
      color: $base-color;
    }

    .card__img {
      margin-bottom: 10px;
    }

    .card__temp_day {
      font-size: 18px;
    }

    .card__temp_nigth {
      margin-bottom: 6px;
      font-size: 13px;
      color: $base-color;
    }

    &__info {
      font-size: 13px;
      color: $base-color;
    }

    &:hover {
      box-shadow: 0px 3px 4px rgba(147, 144, 144, 0.28);
    }
  }
}
